#banner
	.banner_content
		%h1 Eternity Note
		%p Your secret notes. Organized, always. 
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Kogi messenger bag vape freegan next level meggings iPhone. Meh YOLO fam flannel. Tousled plaid chartreuse austin poke palo santo chillwave try-hard wolf cray authentic ugh umami messenger bag. Iceland pork belly gastropub prism synth pok pok pug, listicle shaman cred vinyl thundercats poutine pitchfork. Adaptogen deep v pug tbh, actually fashion axe truffaut. Flexitarian next level cronut, street art gluten-free austin cardigan hella tattooed pop-up. Lumbersexual flannel kickstarter craft beer, hell of art party banjo franzen vice pok pok DIY cray.

#bottom_cta
	.wrapper
		%h2 Go Ahead
		%br
		%button= link_to "Join Now", new_user_registration_path